.idea/
.gradle/
out/
*.iml
*.class
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*mstore/
/minecraft-server/
/build/
*.properties
/dependencies/*.jar
!/dependencies/LICENSE.txt
!/dependencies/NOTICE.txt
!/dependencies/README.txt
